{% extends 'recommender/base.html' %}
{% block content %}
<div class="col-md-12">
    <div class="choices"></div>
    <div align="center">
        <form action="/result/" id="result" method="POST">
            {% csrf_token %}
             <input type="hidden" name="sequence" value="0" />
        </form>
        <div class="instruction"><p class="instruction">To begin, choose the color you like the most!</p></div>
        <table>
            <tr>
                <td>
                    <div class="block1 block"></div>
                </td>
                <td>
                    <div class="block2 block"></div>
                </td>
                <td>
                    <div class="block3 block"></div>
                </td>
                <td>
                    <div class="block4 block"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="block5 block"></div>
                </td>
                <td>
                    <div class="block6 block"></div>
                </td>
                <td>
                    <div class="block7 block"></div>
                </td>
                <td>
                    <div class="block0 block"></div>
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-dark" id="toggle1">Try again!</button>
    </div>
</div>
</body>

{% endblock %}

{% block style %}
    table { margin-bottom: 30px; }
    .block {
        width: 100px;
        height: 150px;
        padding: 5px;
        margin: 10px;
        float: left;
        /* border-radius */
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 10px;
        /* box-shadow */
        -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
        -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
        box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    }

    .block1 {  background: #00008b;  }
    .block2 {  background: #228b22;  }
    .block3 {  background: #ff4040;  }
    .block4 {  background: #ffd700;  }
    .block5 {  background: #8b668b;  }
    .block6 {  background: #8b4513;  }
    .block7 {  background: #1c1c1c;  }
    .block0 {  background: #8b8878;  }

    .choices { }
    .instruction { font-size: 120%; text-align: center; }

{% endblock %}


{% block script %}
    $(document).ready(function() {
        var colorSequence = [];
        var total_deviation = 0;
        var vegetativeCoefficient = 0;
        var numRx = /block(\d)/;
        var autonorma = [3, 4, 2, 5, 1, 6, 0, 7];
        var instructionString = ["To begin, choose the color you like the most!","Go on! Which one of those do you like?"];

        $('.block').click(function() {
            $(this).hide(function() {
                colorSequence.push(parseInt(numRx.exec($(this).attr('class'))[1]));
                if (colorSequence.length == 1) {
                    $('p.instruction').remove();
                    $("div.instruction").append("<p class=\"instruction\">"+instructionString[1]+"</p>");
                }
            if (colorSequence.length == 8) {
            showchoices();
            }
        });
    });

    $('#toggle1').click(function() {
        $('.block').show();
        colorSequence = [];
        $('p.choices').remove();
        $('p.instruction').remove();
        $("div.instruction").append("<p class=\"instruction\">"+instructionString[0]+"</p>");
    });

    function showchoices() {
        $('p.instruction').remove();
        total_deviation = 0;
        vegetativeCoefficient = 0;
        var i;

        for (i = 0; i < colorSequence.length; i++) {
            total_deviation += Math.abs(autonorma.indexOf(i) - colorSequence.indexOf(i));
        }
        vegetativeCoefficient = (18 - colorSequence.indexOf(3) - colorSequence.indexOf(4) - 2) / (18 - colorSequence.indexOf(1) - colorSequence.indexOf(2) - 2);
        vegetativeCoefficient = Math.round(vegetativeCoefficient * 10) / 10;


        set_sequence();
        document.forms["result"].submit()

        //$("div.choices").append("<p class=\"choices\">Color sequence: " + colorSequence.join("-") + "</p>");
        //$("div.choices").append("<p class=\"choices\">Total deviation: " + total_deviation + "</p>");
       // $("div.choices").append("<p class=\"choices\">Vegetative coefficient: " + vegetativeCoefficient + "</p>");
    }

    function set_sequence() {
        oFormObject = document.forms['result'];
        oFormObject.elements["sequence"].value = colorSequence;
    }

    $('#result').on('submit', function(event){
        console.log(colorSequence);
        event.preventDefault();
        console.log("form submitted!")  // sanity check
        get_result();
    });

    function get_result() {
        console.log(colorSequence);
        window.CSRF_TOKEN = "{{ csrf_token }}";
        $.ajax({
            url : "result/", // the endpoint
            type : "POST", // http method
            data: {
                csrfmiddlewaretoken: window.CSRF_TOKEN,
                color_sequence: colorSequence
            },
            success: function(json) {
                console.log("Success!");
                console.log(json);
            }
        });
    }
});


{% endblock %}